{% extends "base.html" %}

{% block title %}contact-pref | EventIQ{% endblock %}

{% block content %}

<!-- HEADER -->
<section class="container contact-header">
    <h1>Stay in the Loop </h1>
    <p>Tell us what you want to learn about — we’ll notify you.</p>
</section>

<!-- FORM -->
<section class="container contact-form-section">
    <form method="POST"
      action="{{ url_for('save_preferences') }}"
      class="contact-form">



        <!-- Event Types -->
        <div class="mb-4">
            <label class="form-label">What updates do you want?</label>

            <div class="option-grid">

                <label class="option-card">
                    <input type="checkbox"  name="event_types" value="hackathon" hidden/>
                    <span>Hackathons</span>
                </label>

                <label class="option-card">
                    <input type="checkbox"  name="event_types"  value="workshop"/>
                    <span>Workshops</span>
                </label>

                <label class="option-card">
                    <input type="checkbox"  name="event_types" value="meetup"/>
                    <span>Meet-ups</span>
                </label>

                <label class="option-card">
                    <input type="checkbox"  name="event_types" value="bootcamp"/>
                    <span>Bootcamps</span>
                </label>

                <label class="option-card full">
                    <input type="checkbox"  name="event_types" value="all"/>
                    <span>All Events</span>
                </label>
            </div>
        </div>

        <!-- Technologies -->
        <div class="mb-4">
            <label class="form-label">Preferred Technologies / Languages</label>

            <div class="tag-selector">

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="Python">
                    <span>Python</span>
                </label>

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="Java">
                    <span>Java</span>
                </label>

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="JavaScript">
                    <span>JavaScript</span>
                </label>

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="AI/ML">
                    <span>AI / ML</span>
                </label>

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="Web Development">
                    <span>Web Development</span>
                </label>

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="Blockchain">
                    <span>Blockchain</span>
                </label>

                <label class="tech-tag">
                    <input type="checkbox" name="skills" value="Cloud">
                    <span>Cloud</span>
                </label>

            </div>

        </div>

        <!-- Frequency -->
        <div class="mb-4">

            <select class="form-control event-input" name="frequency" style="display:none;">

                <option value="daily" selected>Daily Updates</option>
            </select>
        </div>

        <!-- Submit -->
        <button type="submit" class="contact-submit-btn">
            Save Preferences
        </button>

    </form>
</section>



{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}



