{% extends "base.html" %}

{% block title %}Hackathons | EventIQ{% endblock %}

{% block content %}

<!--this is page is to show particiated user event -->

<section class="container hero_h mt-5">
  <div class="row align-items-center">
    <div class="col-lg-8">
      <h1 class="fw-bold display-5 hero-title">{{ event.title | title }}</h1>
        <p class="hero-subtitle mt-3">
                {{ event.description }}
        </p>
      <div class="mt-4">
        <span class="simple-tag px-3"><i class="bi bi-calendar-event me-1"></i>{{ event.start_date }} - {{ event.end_date }}</span>
          <span class="simple-tag px-3">{{ event.mode }}</span>
        <span class="simple-tag px-3"><i class="bi bi-people-fill me-1"></i>{{event.attending}} registered</span>

        <span
        class="simple-tag secondary mt-3 px-4">
            {% for i in range(1, 6) %}
                {% if i <= avg_rating %}
                    <span style="color: black;"><i class="fa-solid fa-star"></i></span>
                {% else %}
                    <span style="color: lightgray;"><i class="fa-regular fa-star"></i></span>
                {% endif %}
            {% endfor %}

        </span>

      </div>

    </div>
    <div class="col-lg-4 text-center">
      <div class="image-placeholder" style="height: 200px;">
          <img src="{{ url_for('static', filename='uploads/company_logos/' + event.banner_image) }}"
           alt="Hackathon Image"
           class="img-fluid rounded w-75">

      </div>
    </div>
  </div>
</section>

<!-- PARTICIPATION DETAILS -->
<div class="profile-section container  mt-5">
    <div class="section-header">
        <h3><i class="fas fa-trophy"></i> Participated User</h3>
    </div>
    <div class="participation-list">
        {% if participants %}
            {% for user in participants %}
              <div class="participation-item">
                  <a href="#" class="card-link">
                        <div class="participation-details">
                            <h5>{{ user.full_name | title  }}</h5>
                            <p>{{user.description}}</p>
                            <div class="participation-meta">
                                <span><i class="fas  fa-university"></i>{{ user.college }}</span>
                                <span><i class="fas fa-graduation-cap"></i>{{user.course}} -</span>
                                <span>{{user.year}} Student</span>
                            </div>
                        </div>
                  </a>
              </div>
            {% endfor %}
        {% else %}
          <p>No Participant Found.</p>
        {% endif %}
    </div>
</div>


{% endblock %}



