{% extends "base.html" %}

{% block title %}Hackathons | EventIQ{% endblock %}

{% block content %}
<!-- PAGE HEADER -->
<section class="container review-header">
    <h1>Share Your Experience</h1>
    <p>Your feedback helps the community grow </p>
</section>

<!-- REVIEW FORM -->
<section class="container review-form-section">
    <form class="review-form"
          method="POST"
          action="{{ url_for('submit_web_review') }}">

        <!-- Rating -->
        <div class="mb-4 rating-field">
            <label class="form-label">Rating</label>

            <div class="rating-stars" id="ratingStars">
                <span>★</span>
                <span>★</span>
                <span>★</span>
                <span>★</span>
                <span>★</span>
            </div>

            <input
                    type="range"
                    name="rating"
                    min="1"
                    max="5"
                    step="1"
                    value="3"
                    id="ratingRange"
            />

            <div class="rating-value">
                <strong id="ratingValue">3</strong> / 5
            </div>
        </div>

        <!-- Review -->
        <div class="mb-4">
            <label class="form-label">Your Review</label>
            <textarea
                    name="review_text"
                    rows="5"
                    class="form-control event-input"
                    placeholder="Write your experience here..."
                    required
            ></textarea>
        </div>



        <button type="submit" class="review-submit-btn">
            Submit Review
        </button>

    </form>

</section>




{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/review.js') }}"></script>
{% endblock %}



